<!-- todo check if default image is rendered when server returns null for image
 [src]="recipe.imageUrl ?? 'default-image.jpg'"
    mat-card-image
    alt="{{ recipe.name }} main image" -->
@if(recipe){
<mat-card
  appearance="raised"
  routerLink="/recipes/{{ recipe.id }}"
  class="recipe-card flex-col gap-2"
>
  <mat-card-header class="flex-col gap-1">
    <h2 class="font-bold text-2xl">{{ recipe.name }}</h2>
    <p class="italic">By: {{ recipe.cookName }}</p>
  </mat-card-header>
  <div class="image-wrapper">
    <img class="object-cover" mat-card-image src="default-image.jpg" />
  </div>
  <mat-card-content>
    <p class="font-light">Difficulty level: {{ recipe.difficultyLevel }}</p>
    <p class="font-light">Rating: {{ recipe.rating }}</p>
    <ul class="font-light">
      Categories: @for (category of recipe.categories; track $index) {
      <li>{{ category }}</li>
      }
    </ul>
  </mat-card-content>
</mat-card>
}
