@if(recipesCook) { @for (recipe of recipesCook.data; track $index) {
<mat-card
  appearance="raised"
  routerLink="/recipes/{{ recipe.id }}"
  class="recipe-card flex-col gap-2"
>
  <mat-card-header class="flex-col gap-1">
    <h2 class="font-bold text-2xl">{{ recipe.name }}</h2>
    <p class="italic">{{ recipe.difficultyLevel }}</p>
  </mat-card-header>
  <div class="image-wrapper">
    <img
      [src]="recipe.mainImageUrl || 'default-image.jpg'"
      alt="Recipe Image"
    />
  </div>
  <mat-card-content>
    <p class="font-light">Difficulty level: {{ recipe.difficultyLevel }}</p>
    <p class="font-light">Rating: {{ recipe.rating }}</p>
    <ul class="font-light">
      Categories: @for (category of recipe.categories; track $index) {
      <li>{{ category }}</li>
      }
    </ul>
  </mat-card-content>
</mat-card>
} } @else {
<h2>This author has not cooked any content yet!</h2>
}
