<mat-card class="max-w-lg mx-auto mt- p-8 bg-white">
  <form [formGroup]="suggestIngredientForm" (ngSubmit)="onSubmit()">
    <div class="text-center mb-6">
      <h1 class="text-2xl font-semibold">Suggest ingredient</h1>
    </div>
    <app-text-input label="Name" formControlName="name" />
    @if (validationErrors) {
    <div class="mb-3 p-4 bg-red-100 text-red-600">
      <ul class="list-disc px-3">
        @for (error of validationErrors; track $index) {
        <li>{{ error }}</li>
        }
      </ul>
    </div>
    }
    <button
      mat-flat-button
      [disabled]="suggestIngredientForm.invalid"
      type="submit"
      class="block text-center bg-green-200 text-white-600 py-2 px-4 rounded hover:bg-green-400 m-auto"
    >
      Suggest ingredient
    </button>
  </form>
</mat-card>
