@use '@angular/material' as mat;
@tailwind base;
@tailwind components;
@tailwind utilities;

$customTheme: mat.define-theme();

@include mat.core();

button.match-input-height {
    height: var(--mat-form-field-container-height) !important;
}

// .mdc-button.mat-success, .mat-mdc-raised-button.mat-success,
//  .mat-mdc-flat-button.mat-success, .mat-mdc-icon-button.mat-success, 
//   .mat-mdc-fab.mat-success, .mat-mdc-mini-fab.mat-success, .mat-mdc-stroked-button.mat-success {
//     --mdc-theme-primary: mat.get-color-from-palette($customTheme, mat.$mat-green, 500);
//     --mdc-theme-on-primary: mat.get-color-from-palette($customTheme, mat.$mat-green, 500-contrast);
// }
// .mat-mdc-stroked-button.mat-success {
//     --mdc-theme-primary: mat.get-color-from-palette($customTheme, mat.$mat-green, 500);
//     --mdc-theme-on-primary: mat.get-color-from-palette($customTheme, mat.$mat-green, 500-contrast);
// }

.mdc-notched-outline__notch {
    border-right-style: none !important
}

.mat-mdc-snack-bar-container.snack-error{
    --mdc-snackbar-container-color: red;
    --mat-snack-bar-button-color: white;
    --mdc-snackbar-supporting-text-color: white;
}

.mat-mdc-snack-bar-container.snack-success{
    --mdc-snackbar-container-color: green;
    --mat-snack-bar-button-color: white;
    --mdc-snackbar-supporting-text-color: white;
}
