@use '@angular/material' as mat;
@tailwind base;
@tailwind components;
@tailwind utilities;
@include mat.core();

$myapp-theme-primary: mat.m2-define-palette(mat.$m2-teal-palette);
$myapp-theme-accent: mat.m2-define-palette(mat.$m2-cyan-palette);
$myapp-theme-warn: mat.m2-define-palette(mat.$m2-red-palette);

$myapp-theme: mat.m2-define-light-theme((
  color: (
    primary: $myapp-theme-primary,
    accent: $myapp-theme-accent,
    warn: $myapp-theme-warn,
  )
));

@include mat.all-component-themes($myapp-theme);

button.match-input-height {
    height: var(--mat-form-field-container-height) !important;
}

.mdc-notched-outline__notch {
    border-right-style: none !important
}

.mat-mdc-snack-bar-container.snack-error{
    --mdc-snackbar-container-color: red;
    --mat-snack-bar-button-color: white;
    --mdc-snackbar-supporting-text-color: white;
}

.mat-mdc-snack-bar-container.snack-success{
    --mdc-snackbar-container-color: green;
    --mat-snack-bar-button-color: white;
    --mdc-snackbar-supporting-text-color: white;
}
