<div class="max-w-xl mx-auto bg-white p-6 shadow-md rounded-lg">
  <!-- Avatar Section -->
  @if(user){
  <div class="flex items-center space-x-4">
    <img
      [src]="user.avatarUrl || 'default-avatar.jpg'"
      alt="User Avatar"
      class="w-20 h-20 rounded-full shadow-md object-cover"
    />
    <div>
      <h2 class="text-xl font-semibold">{{ user.displayName }}</h2>
      <p class="text-gray-500">{{ user.email }}</p>
    </div>
  </div>

  <!-- Actions Section -->
  <div class="mt-4 space-y-4">
    <button
      class="w-full bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600"
      routerLink="avatar/change"
    >
      Change Avatar
    </button>
    <a
      routerLink="/recipes/user-favorites"
      class="block text-center bg-gray-100 text-blue-600 py-2 px-4 rounded hover:bg-gray-200"
    >
      Favorite Recipes
    </a>
    @if (user.cookId) {
    <a
      class="block text-center bg-gray-100 text-blue-600 py-2 px-4 rounded hover:bg-gray-200"
      routerLink="/cook/about"
    >
      Change About Me Content
    </a>
    <a
      class="block text-center bg-gray-100 text-blue-600 py-2 px-4 rounded hover:bg-gray-200"
      routerLink="/cook/recipes/create"
    >
      Create Recipe
    </a>
    <a
      class="block text-center bg-gray-100 text-blue-600 py-2 px-4 rounded hover:bg-gray-200"
      routerLink="/cook/recipes"
    >
      Your StirCraft Creations
    </a>
    } @if (user.role === 'Admin') {
    <a
      class="block text-center bg-gray-100 text-blue-600 py-2 px-4 rounded hover:bg-gray-200"
      routerLink="/admin/"
    >
      To Admin Panel
    </a>
    }
  </div>
  }
</div>
