<header class="border-b p-3 w-full shadow-md">
  <div
    class="flex align-middle items-center justify-between max-w-screen-2xl mx-auto"
  >
    <img src="logo.png" alt="StirCraft-logo" class="max-h-16" />
    <nav class="flex gap-6 my-2 text-xl font-semibold">
      <a>Recipes</a>
      <a>Cooks</a>
      <a>StirCraft Leaderboard</a>
    </nav>
    <div class="flex gap-6 align-middle">
      <button mat-stroked-button class="text-amber-600">Login</button>
      <button mat-flat-button class="text-amber-600">Register</button>
    </div>
  </div>
</header>
