@if(recipes) { @for (recipe of recipes.data; track $index) {
<mat-card
  appearance="raised"
  routerLink="/recipes/{{ recipe.id }}"
  class="recipe-card flex-col gap-2"
>
  <mat-card-header class="flex-col gap-1">
    @if(recipe.isAdminApproved == false){
    <p class="font-bold italic text-red-500">
      This recipe is pending admin approval!
    </p>
    } @else {
    <p class="font-bold italic text-green-500">Admin Approved!</p>
    }
    <h2 class="font-bold text-2xl">{{ recipe.name }}</h2>
  </mat-card-header>
  <div class="image-wrapper">
    <img
      [src]="recipe.mainImageUrl || 'default-image.jpg'"
      alt="Recipe Image"
    />
  </div>
  <mat-card-content>
    <p class="font-light">Rating: {{ recipe.rating }}</p>
    <p class="font-light">Likes: {{ recipe.likes }}</p>
  </mat-card-content>
</mat-card>
} }

<div>
  <mat-paginator
    class="page-paginator"
    (page)="handlePage($event)"
    [length]="recipes?.count"
    [pageSize]="pagingParams.pageSize"
    [showFirstLastButtons]="true"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="pagingParams.pageIndex - 1"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
