<div class="flex flex-col gap-5 pt-10">
  <div class="flex px-10 pb-10">
    <div class="flex gap-2">
      <button
        class="filter-btn"
        mat-stroked-button
        (click)="openFiltersDialog()"
      >
        <mat-icon>filter_list</mat-icon>
        Filters
      </button>

      <button
        class="sort-btn"
        mat-stroked-button
        [matMenuTriggerFor]="sortMenu"
      >
        <mat-icon>swap_vert</mat-icon>
        Sort
      </button>
    </div>

    <form
      class="relative flex items-center w-full max-w-md mx-4"
      #searchForm="ngForm"
      (ngSubmit)="onSearchChange()"
    >
      <input
        type="text"
        class="block w-full p-2 text-sm text-gray-900 border border-gray-300 rounded-lg"
        placeholder="Search by name"
        name="searchName"
        [(ngModel)]="recipesParams.searchName"
      />
      <button
        mat-icon-button
        type="submit"
        class="absolute inset-y-0 right-3 top-0.5 flex items-center pl-3"
      >
        <mat-icon>search</mat-icon>
      </button>
    </form>
    <button mat-icon-button (click)="clearInputField()">
      <mat-icon>clear icon</mat-icon>
    </button>
  </div>

  <div class="flex flex-wrap gap-10 justify-center mx-14">
    @for (recipe of recipes?.data; track recipe.id) {
    <app-recipe-item [recipe]="recipe"></app-recipe-item>
    }
  </div>

  <mat-paginator
    class="page-paginator"
    (page)="handlePage($event)"
    [length]="recipes?.count"
    [pageSize]="recipesParams.pageSize"
    [showFirstLastButtons]="true"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="recipesParams.pageIndex - 1"
    aria-label="Select page"
  >
  </mat-paginator>
</div>

<mat-menu #sortMenu="matMenu">
  <mat-selection-list
    class="flex"
    [multiple]="false"
    (selectionChange)="onSortChange($event)"
  >
    @for (sort of sortOptions; track $index) {
    <mat-list-option
      class="flex-1"
      [value]="sort.value"
      [selected]="recipesParams.sort === sort.value"
    >
      {{ sort.name }}
    </mat-list-option>
    }
  </mat-selection-list>
</mat-menu>

<!-- to fix sorting when scrolling down -->
