<div class="carousel-container">
  @for (recipe of carouselRecipes; track recipe.id) {
  <div
    routerLink="/recipes/{{ recipe.id }}"
    class="carousel-slide"
    [class.active]="recipe.id === currentSlide"
    [style.backgroundImage]="'url(' + recipe.mainImageUrl + ')'"
  >
    <div class="carousel-caption">
      <h1>{{ recipe.name }}</h1>
      <p class="">By {{ recipe.cookName }}</p>
    </div>
  </div>
  }

  <button class="carousel-arrow left" (click)="previousSlide()">
    <mat-icon>arrow_back_ios</mat-icon>
  </button>
  <button class="carousel-arrow right" (click)="nextSlide()">
    <mat-icon>arrow_forward_ios</mat-icon>
  </button>
</div>
