<div class="carousel-container">
  @for (recipe of carouselRecipes; track $index) {
  <div
    class="carousel-slide"
    [class.active]="currentSlide === carouselRecipes.indexOf(recipe)"
    [style.backgroundImage]="'url(' + recipe.mainImageUrl + ')'"
  >
    <div class="carousel-caption text-3xl italic">
      <h1>{{ recipe.name }}</h1>
      <p>By {{ recipe.cookName }}</p>
    </div>
  </div>
  }

  <button class="carousel-arrow left" (click)="previousSlide()">
    <mat-icon>arrow_back_ios</mat-icon>
  </button>
  <button class="carousel-arrow right" (click)="nextSlide()">
    <mat-icon>arrow_forward_ios</mat-icon>
  </button>
</div>
